* {
  font-size: 13px !important;
}
body {
  background-color: #252525;
  /* font: 12px / normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
  'source-code-pro', monospace; */
  font-family: Arial, Helvetica, sans-serif;
  height: 99vh;
  overflow-y: hidden;
  margin: 0;
}
.textColorBlack {
  color: #252525;
}
.el-collapse-item__content {
  color: #ffab00;
  background-color: #252525;
}

/* override codemirror*/
.CodeMirror {
  border: none;
  /* min-height: 30vh; */
  height: auto;
  /* max-height: 70vh; */
}
.CodeMirror-hscrollbar {
  overflow-x: auto;
}

.cm-s-monokai .CodeMirror-gutters,
.cm-s-monokai.CodeMirror {
  background-color: #252525;
  /* background-color: #2b2b2b; */
}

/* override elementui*/

.el-collapse-item__header,
.el-input,
.el-select,
.el-input__inner,
.el-tabs,
.el-select-dropdown,
.tabContainer,
.fileExplorerContainer,
.el-container,
.el-tree,
.el-popover,
.el-popper,
.el-table,
.el-dialog,
.el-table tr,
.el-table th,
.el-table__expanded-cell,
.el-table--enable-row-hover .el-table__body tr:hover > td,
.el-tabs--border-card > .el-tabs__header,
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #ffab00;
  background-color: #252525;
}
/* Secondary button */
.secondaryButton {
  color: #ffab00 !important;
  background-color: #252525;
  border-color: #ffab00c9;
}
.secondaryButton:hover {
  color: #bab1a2 !important;
  background-color: #242426 !important;
}
.secondaryButton:focus {
  color: #bab1a2 !important;
  background-color: #242426 !important;
}
/* dialog */
.el-dialog__header,
.el-dialog__body,
.el-dialog__title,
.el-form-item__label {
  color: #ffab00;
  border-color: #ffab00c9;
}
/* message box */
.el-message-box,
.el-message-box__content,
.el-message-box__title {
  color: #ffab00;
  background-color: #252525;
  border-color: #545050;
}

/* table & el collapse */
.el-table th.is-leaf,
.el-table td,
.el-collapse-item__header,
.el-collapse,
.el-collapse-item__wrap {
  border-bottom: 1px solid #505050;
}
.el-collapse {
  border-top: 1px solid #505050;
}
.el-table::before {
  background-color: #505050;
}
.el-collapse-item__wrap {
  background-color: transparent;
}
.el-collapse-item__header {
  overflow: hidden;
}
/* tree */
.el-tree-node__content {
  padding-bottom: 1rem;
}
.el-tree-node {
  height: 3rem;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: #2f2f2d;
}
.el-tree-node__content:hover {
  background-color: #3f3f3f;
}
.el-tabs__new-tab {
  background-color: #ffab00;
  color: #252525;
  border: none;
}
.el-tabs__new-tab:hover {
  color: white;
  background-color: #252525;
  border: 1px solid #ffab00;
}
.el-tabs--border-card > .el-tabs__content {
  padding: 0px;
}
/* tabs */
.el-tabs--border-card {
  border: 1px solid #5f6268cc;
}
.el-tabs--border-card > .el-tabs__header {
  border-bottom: 1px solid #ffab00;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  border: 1px solid #ffab00;
  border-bottom: none;
}
.el-tabs__new-tab {
  display: none;
}
.el-tabs__nav {
  margin-top: 1px;
}
.el-tabs__nav:first-child {
  margin-left: 0.5px;
}
/*input borders */
.el-input__inner {
  border: 1px solid #5f6268cc;
}
/* .el-button, */
.el-button.is-loading {
  color: #ffab00;
  background: #ffab00;
  background-color: #252525;

  /* rest props are overridden by scss file */
}
.el-button.is-loading:before {
  background-color: transparent;
}
.el-button--primary {
  color: #252525;
}
.iconButton:hover {
  cursor: pointer;
}
.el-button--mini.is-circle {
  padding: 5px;
}
.el-button--primary:hover,
.el-button--primary:focus {
  background: #daa639;
  border-color: #ffab00;
  color: #303133;
}
/* dropdown color */
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #555555;
  color: #ffab00;
}
/* tabs */
.el-tabs__item {
  color: white;
  font-size: 12px;
}
/* sidebar dragger */
.tabContainer > div.handle.handle-ml {
  background-color: transparent;
  height: 100%;
  width: 2.4px;
  top: 0px;
  margin-top: 0;
  left: -6px;
  display: block !important;
}
.tabContainer > div.handle.handle-ml:hover {
  background-color: #ffab00;
  height: 100%;
  width: 5px;
  top: 0px;
  margin-top: 0;
  left: -6px;
  display: block;
}
/* fileExplorer dragger */
.fileExplorerContainer > div.handle.handle-mr {
  background-color: transparent;
  height: 100%;
  width: 2.4px;
  top: 0px;
  right: -6px;
  display: block !important;
}
.fileExplorerContainer > div.handle.handle-mr:hover {
  background-color: #ffab00;
  height: 100%;
  width: 5px;
  top: 0px;
  right: -6px;
  display: block;
}
/* console dragger */
.consoleContainer > div.handle.handle-tm {
  background-color: transparent;
  width: 100%;
  height: 2.5px;
  top: -6px;
  left: 5px;
  display: block !important;
}
.consoleContainer > div.handle.handle-tm:hover {
  background-color: #ffab00;
  width: 103%;
  height: 7px;
  top: -6px;
  left: -5px;
  display: block;
}

/* .consoleContainer {
  margin: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/logo.png);
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: auto calc(75% - 1.7em);
} */
/* custom scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffab00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ad7b16;
}
@-webkit-keyframes titan-mine {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
@keyframes titan-mine {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
  }
}
